<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>Signup Page</div>
<form method="post" action="http://localhost:8080/signup">
    <label>
        <input type="text" name="username" placeholder="username"/>
    </label>
    <label>
        <input type="password" name="password" placeholder="password"/>
    </label>
    <button type="submit">submit</button>
</form>
</body>
</html>